body, #mainWrapper {
    height: 100%;
    background-color: rgb(245, 245, 245);
}

body {
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.floatRight {
    float: right;
    margin-right: 18px;
}

.has-error {
    color: red;
}

.table-container {
    padding-left: 20px;
}
.form-container {
    background-color: rgba(234, 231, 231, 0.82);
    padding: 30px;
}

.generic-container {
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;

}
.custom-width {
    width: 80px !important;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.header-text{
   color: white;
}
.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}