<section class="py-5">
    <div class="container generic-container mx-auto w-70">
        <div class="card">

            <div class="card-header">
                <span class="lead"> Clients List for Gateway {{gw_alias}} </span>
                <button type="button" ng-click="forceSync(gw_identity)"
                        class="btn float-right"><i class="fas fa-sync-alt"></i>
                </button>
            </div>
            <div class="alert alert-success" ng-show="alertSyncDisplayed">
                <strong>Success!</strong> The clients were synchronized successfully!
            </div>
            <div class="alert alert-danger" ng-show="alertSyncFailure">
                <strong>Failure!</strong> The gateway is not active!
            </div>
            <div class="table-container">
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th> Client Identity</th>
                        <th> Hostname</th>
                        <th> System reputation</th>
                        <th> Local IP Address</th>
                        <th> Last Register Time</th>
                        <th width="10%"> Status</th>
                        <th width="5%"></th>
                        <th width="1%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in clients">
                        <td><a href="#!/client/{{gw_identity}}/{{c.identity}}"><span ng-bind="c.identity"></span></a>
                        <td><span ng-bind="c.hostname"></span></td>
                        <th><span ng-bind="c.systemReputation"></span></th>
                        <th><span style="font-weight:normal">{{c.ipPort.split(':')[0]}}</span></th>
                        <td><span ng-bind="c.lastRegisterTime"></span></td>
                        <td><span class="dot"
                                  ng-style="c.registered === 'true' && {'background-color':'green'} || c.registered === 'false' && {'background-color':'red'}"></span>
                        </td>
                        <td>
                            <button type="button" ng-click="remove(gw_identity, c.identity, $index)"
                                    class="btn"><i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
