<section class="py-5">
    <div class="generic-container mx-auto">
        <div class="card">

            <div class="card-header"><span class="lead"> Clients List for Gateway {{gw_alias}} </span></div>
            <div class="table-container">
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th> Client Identity</th>
                        <th> Registered</th>
                        <th> LastRegisterTime</th>
                        <th> KernelInfo</th>
                        <th> Hostname</th>
                        <th> PacketsPerMinute</th>
                        <th> PacketsAvgLength</th>
                        <th width="20%">
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in clients">
                        <td><a href="#!/client/{{gw_identity}}/{{c.identity}}"><span ng-bind="c.identity"></span></a>
                        </td>
                        <td><span class="dot"
                                  ng-style="c.registered === 'true' && {'background-color':'green'} || c.registered === 'false' && {'background-color':'red'}"></span>
                        </td>
                        <td><span ng-bind="c.lastRegisterTime"></span></td>
                        <td><span ng-bind="c.kernelInfo"></span></td>
                        <td><span ng-bind="c.hostname"></span></td>
                        <td><span ng-bind="c.packetsPerMinute"></span></td>
                        <td><span ng-bind="c.packetsAvgLength"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
